<%= form_for @article do |f| %>
	
	<% if @article.errors.present? %>
		<ul>
			<div class="alert alert-warning alert-dismissable">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>  
			  <% @article.errors.full_messages.each do |error| %>		             
	            <li><%=error %></li>           
		      <% end %>	
		    </div>   
		</ul>	
	<% end %>

	<div class="form-group">
	  <%= f.label :title %><br />
	  <%= f.text_field :title, class: "form-control", autofocus: true %>
	</div>

	<div class="form-group">
		<%= f.label :body %><br />
		<%= f.text_area :body, class: "form-control wysihtml5", rows:10 , cols: 10 %>
	</div>
	
	<%= f.submit class: "btn btn-default" %>	

<% end %>
<br />
<%= link_to "<<Back", articles_path, class:" label label-info" %>
