<% if can? :create, Article %>  
  <%= link_to "Add a New Article", new_article_path, class: "btn btn-success" %>
<hr />  
<% end %>

<div class="articles">
  <%= paginate @articles %>
  
	<% @articles.each do |article| %>
      <div class="row">
        <div class="col-lg-8">
     
        <!-- the actual blog post: title/author/date/content -->
        <h1><%= link_to article.title, article_path(article) %></h1>

        <p class="lead">by <%= link_to article.user.name, articles_path %>
        </p>
        
        <hr>
        
        <p>
            <span class="glyphicon glyphicon-time"></span> Posted on <%= article.updated_at.strftime("%d %b %Y at %I:%M %p")  %></p>
        <hr>
        
        <% if article.image_stored? %>
           <%= image_tag (article.image.thumb('900x300#').url), class: "img-responsive" %>
        <% else %>
           <%= image_tag 'http://placehold.it/900x300', class: "img-responsive" %>
        <% end %>
        
        <hr>
        
        <p>
          <%= truncate((sanitize article.body, tags: %w(a)), length: 150)%>
        </p>
          
          <p><%= link_to "Read More", article_path(article), class: "btn btn-primary" %> </p>	

        <hr>
        </div>
      </div>
    <% end %>	
    <%= paginate @articles %>
</div>




